@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
  --block-height: 35px;
  --block-width: 35px;

  --playing-zone-height: 350px;
  --playing-zone-width: 875px;
}

body{
  margin: 0;
  background-color: rgb(86, 211, 86);
}

h1{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 45px;
  text-align: center;

  color: rgb(1, 90, 1);
  margin: 15px 0 20px;
  letter-spacing: 3px;
  padding: 0;
}

.buttons{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  padding: 5px;
  background-color: greenyellow;
  color: green;
}

.buttons:hover{
  background-color: green;
  color: greenyellow;
}

#dificult{
  left: 200px;
  top: 34px;

  border: none;
  position: absolute;
  margin: 0;

  transition: all 210ms;
}

#timer{
  background-color: greenyellow;
  color: green;
  user-select: none;
  position: absolute;

  letter-spacing: 3px;

  top: 34px;
  right: 125px;
}

#reload{
  user-select: none;

  right: 200px;
  top: 34px;

  position: absolute;
  margin: 0;

  transition: all 210ms;
}

.fitMiddle{
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
  padding: 0;
  overflow: visible;
}

#playingzone{
  background-color: rgb(141, 141, 141);
  height: var(--playing-zone-height);
  width: var(--playing-zone-width);
 
  justify-content: left;
  align-items: top;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.block{
  height: var(--block-height);
  width: var(--block-width);
  background-color: green;
  transition: all 200ms;
}

.block p{
  visibility: hidden;
}

.white{
  background-color: rgb(130, 177, 110);
}

.white p{
  user-select: none;
  display: block;
  position: relative;
  top: -9px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  text-align: center;
  visibility: visible;
}

.warning{
  background-color: rgb(255, 27, 27);
}

.bomb{
  background-color: black;
}

.block:hover{
  background-color: rgb(167, 255, 189);
}